@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

.cat-select-full { display: block; }
.cat-select-icon { display: none; }

@media (max-width: 640px) {
  .cat-select-full { display: none; }
  .cat-select-icon { display: flex; }
}